<div class="header" placement="top" ngbTooltip="Tooltip on top">
	<h1 class="font-effect-neon;">Vishal Gawale</h1>
	<p style="color:white;">Wekcome to my page</p>
</div>

<div class="topnav" >
	<a href="#" placement="top" ngbTooltip="Tooltip on top">Home</a>
	<a href="#">Blogs</a>
	<a href="#" placement="top" ngbTooltip="Tooltip on top">Contact</a>
	<a href="#" style="float:right;">About</a>
</div>

<div class="row">
<div class="leftcolumn">
   <div class="card">
	<h2>Title headimng</h2>
	<h5>this title description Dec,6,1995</h5>
   <div class="fakeimg" style="height:200px;">Image</div>
   <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
      quis nostrud exercitation ullamco.
	  </p>
	</div>
 
	<div class="card">
	<h2 >Title headimng</h2>
	<h5>this title description Dec,6,1995</h5>
   <div class="fakeimg" style="height:200px;">Image</div>
   <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
      quis nostrud exercitation ullamco.
	  </p>
	</div>
</div>

<div class="rightcolumn">
	<div class="card">
	 <h2>About me</h2>
	 <div class="fakeimg" style="height:100px;">Image</div>
	 <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
	</div>
 
	<div class="card">
     <div class="fakeimg" placement="top" ngbTooltip="Tooltip on top"><p>Image</p></div>
     <div class="fakeimg" placement="top" ngbTooltip="Tooltip on top"><p>Image</p></div>
     <div class="fakeimg" placement="top" ngbTooltip="Tooltip on top"><p>Image</p></div>
	</div>
	
	<div class="card">
	 <h3>Follow me</h3>
	 <p>some text...</p>
	 </div>
</div>
</div>

<div class="footer">
	<h2>@copyright2022</h2>
</div>
